.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.046000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.046000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.729000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.046000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:1.046000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.925293;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff7;src:url(f7.woff)format("woff");}.ff7{font-family:ff7;line-height:0.939453;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff8;src:url(f8.woff)format("woff");}.ff8{font-family:ff8;line-height:1.046000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff9;src:url(f9.woff)format("woff");}.ff9{font-family:ff9;line-height:1.046000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffa;src:url(fa.woff)format("woff");}.ffa{font-family:ffa;line-height:0.772000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffb;src:url(fb.woff)format("woff");}.ffb{font-family:ffb;line-height:1.046000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffc;src:url(fc.woff)format("woff");}.ffc{font-family:ffc;line-height:1.046000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ffd;src:url(fd.woff)format("woff");}.ffd{font-family:ffd;line-height:1.046000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.249323,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249323,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249323,0.000000,0.000000,0.250000,0,0);}
.m2{transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.249325,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls4{letter-spacing:-6.480398px;}
.ls3{letter-spacing:-4.945567px;}
.lsd{letter-spacing:-1.605533px;}
.lsb{letter-spacing:-1.364294px;}
.ls2{letter-spacing:-0.767414px;}
.lsf{letter-spacing:-0.397919px;}
.lse{letter-spacing:-0.395885px;}
.ls7{letter-spacing:-0.255805px;}
.ls5{letter-spacing:-0.191854px;}
.ls6{letter-spacing:-0.063951px;}
.ls1{letter-spacing:0.000000px;}
.ls8{letter-spacing:0.284228px;}
.ls10{letter-spacing:0.312651px;}
.ls11{letter-spacing:0.341074px;}
.ls9{letter-spacing:0.397919px;}
.lsa{letter-spacing:0.426342px;}
.ls0{letter-spacing:0.454765px;}
.ls12{letter-spacing:0.483188px;}
.lsc{letter-spacing:3.408000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.wsc{word-spacing:-3.408000px;}
.ws11{word-spacing:-0.483188px;}
.ws0{word-spacing:-0.454765px;}
.wsa{word-spacing:-0.426342px;}
.ws9{word-spacing:-0.397919px;}
.ws10{word-spacing:-0.341074px;}
.wsf{word-spacing:-0.312651px;}
.ws8{word-spacing:-0.284228px;}
.ws1{word-spacing:0.000000px;}
.ws6{word-spacing:0.063951px;}
.ws5{word-spacing:0.191854px;}
.ws7{word-spacing:0.255805px;}
.wse{word-spacing:0.397919px;}
.ws2{word-spacing:0.767414px;}
.wsb{word-spacing:1.364294px;}
.wsd{word-spacing:1.605533px;}
.ws3{word-spacing:4.945567px;}
.ws4{word-spacing:6.480398px;}
._6{margin-left:-650.057859px;}
._9{margin-left:-6.599764px;}
._a{margin-left:-5.391086px;}
._b{margin-left:-3.632428px;}
._1{margin-left:-2.404565px;}
._0{margin-left:-1.048800px;}
._2{width:1.240653px;}
._3{width:3.069662px;}
._4{width:4.216524px;}
._7{width:132.401472px;}
._5{width:167.663253px;}
._c{width:169.908654px;}
._8{width:2699.670413px;}
._d{width:3923.654972px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(35,31,32);}
.fs4{font-size:21.993600px;}
.fs5{font-size:27.112800px;}
.fs0{font-size:28.422800px;}
.fs1{font-size:63.951200px;}
.fs3{font-size:68.160000px;}
.fs2{font-size:170.536800px;}
.y0{bottom:0.000000px;}
.y29{bottom:22.792000px;}
.y2b{bottom:24.486300px;}
.y2c{bottom:26.043415px;}
.y2a{bottom:32.625000px;}
.y28{bottom:50.099975px;}
.y1{bottom:50.103600px;}
.y2f{bottom:73.146056px;}
.y30{bottom:74.473044px;}
.y2e{bottom:89.469600px;}
.y3c{bottom:113.962244px;}
.y35{bottom:122.112482px;}
.y3b{bottom:122.119588px;}
.y3a{bottom:130.276931px;}
.y34{bottom:138.427169px;}
.y39{bottom:138.434275px;}
.y33{bottom:146.584513px;}
.y38{bottom:146.591619px;}
.y32{bottom:154.741856px;}
.y37{bottom:154.748962px;}
.y31{bottom:162.899200px;}
.y36{bottom:162.906306px;}
.y22{bottom:244.339461px;}
.y21{bottom:260.663005px;}
.y20{bottom:276.986549px;}
.y1f{bottom:293.310093px;}
.y1e{bottom:309.633637px;}
.y1d{bottom:325.957180px;}
.y1c{bottom:342.280724px;}
.y1b{bottom:358.604268px;}
.y1a{bottom:374.927812px;}
.y19{bottom:391.251356px;}
.y18{bottom:407.574899px;}
.y17{bottom:423.898443px;}
.y16{bottom:440.221987px;}
.y15{bottom:456.545531px;}
.y14{bottom:472.869075px;}
.y2d{bottom:489.176631px;}
.y27{bottom:505.404248px;}
.y13{bottom:505.500174px;}
.y26{bottom:521.727791px;}
.y12{bottom:521.823718px;}
.y25{bottom:538.051335px;}
.y11{bottom:538.147262px;}
.y4{bottom:538.194112px;}
.y24{bottom:554.374879px;}
.y10{bottom:554.470806px;}
.y3{bottom:554.517656px;}
.y23{bottom:570.698423px;}
.yf{bottom:570.794350px;}
.y2{bottom:570.841200px;}
.ye{bottom:587.117893px;}
.yd{bottom:603.441437px;}
.yc{bottom:619.764981px;}
.yb{bottom:636.088525px;}
.y6{bottom:644.263971px;}
.ya{bottom:652.412069px;}
.y9{bottom:668.735612px;}
.y8{bottom:685.059156px;}
.y5{bottom:685.064900px;}
.y7{bottom:701.382700px;}
.h6{height:16.011942px;}
.h7{height:19.765337px;}
.h2{height:24.841527px;}
.h9{height:44.765840px;}
.h5{height:49.622344px;}
.h3{height:55.893349px;}
.h4{height:121.933812px;}
.h8{height:718.000000px;}
.h1{height:738.000000px;}
.h0{height:739.843000px;}
.w0{width:1106.930000px;}
.w1{width:1107.000000px;}
.x0{left:0.000000px;}
.x2{left:20.142100px;}
.x7{left:57.898400px;}
.x1{left:148.127100px;}
.x9{left:222.284200px;}
.x8{left:313.099100px;}
.xe{left:353.124700px;}
.xd{left:376.731252px;}
.xb{left:404.361800px;}
.xc{left:578.719200px;}
.x5{left:583.233600px;}
.x4{left:625.857474px;}
.x3{left:796.447300px;}
.xa{left:964.821385px;}
.x6{left:1009.660868px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls4{letter-spacing:-8.640531pt;}
.ls3{letter-spacing:-6.594090pt;}
.lsd{letter-spacing:-2.140710pt;}
.lsb{letter-spacing:-1.819059pt;}
.ls2{letter-spacing:-1.023219pt;}
.lsf{letter-spacing:-0.530559pt;}
.lse{letter-spacing:-0.527846pt;}
.ls7{letter-spacing:-0.341073pt;}
.ls5{letter-spacing:-0.255805pt;}
.ls6{letter-spacing:-0.085268pt;}
.ls1{letter-spacing:0.000000pt;}
.ls8{letter-spacing:0.378971pt;}
.ls10{letter-spacing:0.416868pt;}
.ls11{letter-spacing:0.454765pt;}
.ls9{letter-spacing:0.530559pt;}
.lsa{letter-spacing:0.568456pt;}
.ls0{letter-spacing:0.606353pt;}
.ls12{letter-spacing:0.644250pt;}
.lsc{letter-spacing:4.544000pt;}
.wsc{word-spacing:-4.544000pt;}
.ws11{word-spacing:-0.644250pt;}
.ws0{word-spacing:-0.606353pt;}
.wsa{word-spacing:-0.568456pt;}
.ws9{word-spacing:-0.530559pt;}
.ws10{word-spacing:-0.454765pt;}
.wsf{word-spacing:-0.416868pt;}
.ws8{word-spacing:-0.378971pt;}
.ws1{word-spacing:0.000000pt;}
.ws6{word-spacing:0.085268pt;}
.ws5{word-spacing:0.255805pt;}
.ws7{word-spacing:0.341073pt;}
.wse{word-spacing:0.530559pt;}
.ws2{word-spacing:1.023219pt;}
.wsb{word-spacing:1.819059pt;}
.wsd{word-spacing:2.140710pt;}
.ws3{word-spacing:6.594090pt;}
.ws4{word-spacing:8.640531pt;}
._6{margin-left:-866.743812pt;}
._9{margin-left:-8.799685pt;}
._a{margin-left:-7.188115pt;}
._b{margin-left:-4.843238pt;}
._1{margin-left:-3.206087pt;}
._0{margin-left:-1.398400pt;}
._2{width:1.654204pt;}
._3{width:4.092883pt;}
._4{width:5.622032pt;}
._7{width:176.535296pt;}
._5{width:223.551004pt;}
._c{width:226.544873pt;}
._8{width:3599.560550pt;}
._d{width:5231.539962pt;}
.fs4{font-size:29.324800pt;}
.fs5{font-size:36.150400pt;}
.fs0{font-size:37.897067pt;}
.fs1{font-size:85.268267pt;}
.fs3{font-size:90.880000pt;}
.fs2{font-size:227.382400pt;}
.y0{bottom:0.000000pt;}
.y29{bottom:30.389333pt;}
.y2b{bottom:32.648400pt;}
.y2c{bottom:34.724554pt;}
.y2a{bottom:43.500000pt;}
.y28{bottom:66.799967pt;}
.y1{bottom:66.804800pt;}
.y2f{bottom:97.528075pt;}
.y30{bottom:99.297391pt;}
.y2e{bottom:119.292800pt;}
.y3c{bottom:151.949659pt;}
.y35{bottom:162.816643pt;}
.y3b{bottom:162.826117pt;}
.y3a{bottom:173.702575pt;}
.y34{bottom:184.569559pt;}
.y39{bottom:184.579033pt;}
.y33{bottom:195.446017pt;}
.y38{bottom:195.455491pt;}
.y32{bottom:206.322475pt;}
.y37{bottom:206.331949pt;}
.y31{bottom:217.198933pt;}
.y36{bottom:217.208408pt;}
.y22{bottom:325.785949pt;}
.y21{bottom:347.550674pt;}
.y20{bottom:369.315399pt;}
.y1f{bottom:391.080124pt;}
.y1e{bottom:412.844849pt;}
.y1d{bottom:434.609574pt;}
.y1c{bottom:456.374299pt;}
.y1b{bottom:478.139024pt;}
.y1a{bottom:499.903749pt;}
.y19{bottom:521.668474pt;}
.y18{bottom:543.433199pt;}
.y17{bottom:565.197924pt;}
.y16{bottom:586.962649pt;}
.y15{bottom:608.727374pt;}
.y14{bottom:630.492099pt;}
.y2d{bottom:652.235507pt;}
.y27{bottom:673.872330pt;}
.y13{bottom:674.000233pt;}
.y26{bottom:695.637055pt;}
.y12{bottom:695.764958pt;}
.y25{bottom:717.401780pt;}
.y11{bottom:717.529683pt;}
.y4{bottom:717.592150pt;}
.y24{bottom:739.166505pt;}
.y10{bottom:739.294408pt;}
.y3{bottom:739.356875pt;}
.y23{bottom:760.931230pt;}
.yf{bottom:761.059133pt;}
.y2{bottom:761.121600pt;}
.ye{bottom:782.823858pt;}
.yd{bottom:804.588583pt;}
.yc{bottom:826.353308pt;}
.yb{bottom:848.118033pt;}
.y6{bottom:859.018627pt;}
.ya{bottom:869.882758pt;}
.y9{bottom:891.647483pt;}
.y8{bottom:913.412208pt;}
.y5{bottom:913.419867pt;}
.y7{bottom:935.176933pt;}
.h6{height:21.349256pt;}
.h7{height:26.353783pt;}
.h2{height:33.122036pt;}
.h9{height:59.687787pt;}
.h5{height:66.163125pt;}
.h3{height:74.524465pt;}
.h4{height:162.578416pt;}
.h8{height:957.333333pt;}
.h1{height:984.000000pt;}
.h0{height:986.457333pt;}
.w0{width:1475.906667pt;}
.w1{width:1476.000000pt;}
.x0{left:0.000000pt;}
.x2{left:26.856133pt;}
.x7{left:77.197867pt;}
.x1{left:197.502800pt;}
.x9{left:296.378933pt;}
.x8{left:417.465467pt;}
.xe{left:470.832933pt;}
.xd{left:502.308336pt;}
.xb{left:539.149067pt;}
.xc{left:771.625600pt;}
.x5{left:777.644800pt;}
.x4{left:834.476632pt;}
.x3{left:1061.929733pt;}
.xa{left:1286.428514pt;}
.x6{left:1346.214491pt;}
}
